<div class="row">
    <div class="col-md-3">
        <span class="logo img-fluid rounded"></span>
    </div>
    <div class="col-md-4">
        <h1 class="display-4">Ippon Insurance</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Yeah! You are logged in as : "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div *ngIf="account">
            <p class="lead">No one should be anxious during holidays: register your travel and purchase the right travel insurance for your needs ! <span class="fa fa-id-card"></span></p>
            <div class="row">
                <jhi-travel></jhi-travel>
            </div>            
        </div>
    </div>
</div>